<style>
    * {
        margin: 0px;
        padding: 0px;
    }
    :root {
        font-family: monospace;
    }
    body {
        min-height: 100vh;
        /* height: 100%; */
        width: auto;

        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("icon.jpeg");
        position: relative;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }

    nav img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 0.5%;
        margin-top: 0.5%;

        border: 2px solid black;
        /* pointer-events: none; */
    }
    .nav-link {
        /* background-color: rgba(244, 165, 96, 0.715); */
        position:fixed;
        width: 100%;
        top:0px;
        left:0px;
        background: linear-gradient(black ,rgb(202, 168, 147) 40%,white);
        padding: 0.5%;
        border-bottom: 5px solid black;
        flex: 1;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: left;
        z-index: 3;
        /* align-items: center; */
        /* fill: white;
        stroke: black;
        stroke-width: 22px;
        paint-order: fill stroke; */
    }
    .nav-link ul li{
        list-style: none;
        display: inline-block;
        align-items: left;
    }
    .nav-link ul li a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 8px 12px;
        font-size: 20px;       
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    .nav-link ul li a:hover {
        /* text-decoration: underline; */
        text-decoration-color: black;
        text-decoration-line: underline;
        transition: 1s;

    }
    #intro {
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%,-50%); 
        /* why transform and translate */
        text-align: center;
        /* background-color:rgb(245, 241, 161); */
        border: 1px solid white; 
        color: white;
    }
    #intro h1 {
        font-size: 5vh;
    }
    #intro p {
        font-size: 2.6vh;
        margin: 10px 20px 40px;
    }
    
    .about-me {
        position: absolute;
        bottom: -25%;
        display: flex;
        justify-content: space-around;
        /* margin-left: 10px; */
        
    }
    .about-me div {
        color: white;
        border: 1vh solid white;
        border-radius: 2vh;
        /* width: 30%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px 0;
    }
    .about-me i {
        font-size: 5vh;
        margin-top: 2vh;
    }
    .about-me h1 {
        font-size: 4vh;
        
    }
    .about-me p {
        font-size: 2.2vh;
        margin: 0 2vh 2vh;
    }

    .projects {
        position: absolute;
        bottom: -60%;
        color: white;
        width: 100%;
        
    }
    .projects div {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 1vh;
        margin-left: 1vw;
    }
    .projects i {
        font-size: 5vh;
        color: white;
    }
    
    .projects div div a p {
        color: white;
        font-size: 2vh;
    }

    .contact {
        border: 2px solid white;
        border-radius: 20px;
        
        position: absolute;
        bottom: -90%;

        text-align: center;
        margin: 0 20vw 0;
        width: 60%;
    }
    .contact h1 {
        color: white;
        margin-left: 1vw;
        
    }
    .row {
        display: flex;
        align-items: row;
        justify-content: center;
    }
    .contact div div{
        margin: 0 1vw 0;
        font-size: 5vh;
        
    }
    .contact div i {
        color: white;

    }
    .ig {
        display: flex;

    }
    .ig p {
        color: white;
        font-size: 2.2vh;
    }
    footer {
        color: white;
        position: absolute;
        bottom: -100%;
        font-size: 1.4vh;
        right: 2vw;
        padding-bottom: 1vh;
    }

    
    #jumping-ball {
        z-index: 10;
        display:block;
        height:5vh;
        width:5vh;
        border-radius: 50%;
        position: fixed;
        right: 5%;
        top: 5%;
        border: 1px solid black;
        /* box-shadow: -5px -5px 5px black; */
    /* }
    #jumping-ball:hover { */
        background: linear-gradient(135deg, white 3%,rgb(123, 243, 96) 50%);
        animation-name: bouncing;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        /* animation-fill-mode: forwards; */
        /* modify more smooth */
        animation-timing-function: cubic-bezier(0.5,-0.5,0.51,1); 
    }

    @keyframes bouncing {
        0% {
            top: 5%;
        }
        50% {
            top: 17.5%;
            height: 3vh;
            
        }
        100% {
            top: 5%;
        }
    }
    nav .fa {
        display: none;
    }


    @media (max-width: 1100px) {
        .nav-link {
            position: fixed;
            left: -51vw;
            top: 0px;
            height: 100vh;
            width: 50vw;
            display: block;
            border-right: 2px solid black;
            transition: 1s;
            /* margin: 0; */
        }
        .nav-link ul {
            position: absolute;
            top: 16vh;
        }
        .nav-link ul li {
            padding: 20px;
        }
        .nav-link ul li a{
            font-size: 3vh;
            
        }
   
        nav .fa {
            display: block;
            font-size: 5vh;
            color: white;            
        }
        nav i {
            position: fixed;
            z-index: 2;
        }
        nav img {
            width: 7vh;
            height: 7vh;
            position: relative;
            left: 20px;
        }

        #intro {
            top: 40vh;
            margin: 0 -10% 0 0;
        }
        #intro h1 {
            font-size: 4vh;
        }
        #intro p {
            font-size: 1.8vh;
            margin: 10px 20px 40px;
        }

        .about-me {

            width: 100%;
            flex-direction: column;

            align-items: center;
            bottom: -68%;
        }
        .about-me div {
            width: 80vw;
            margin: 0 0 2vh;
        }
        .about-me div h1 {
            font-size: 2.2vh;
        }
        .about-me div p {
            font-size: 1.5vh;
        }
        .projects {
            bottom: -85%;
        }
        .projects h1 {
            font-size: 2.6vh;
        }
        .projects div div a p {
            font-size: 2vh;
        }
        .contact {
            bottom: -115%;
        }
        .contact h1 {
            font-size: 2vh;
        }
        .row {
            margin: 0 3vw 0;
        }
        .ig p {
            font-size: 1.6vh;
        }
        
        footer {
            bottom: -120%;
        }
    }

</style>